#game-buttons > button{
	position: absolute;
	border: none;
	width: 100px;
	height: 100px;
	margin-top: 15px;
}

#background1{
	size: 60%;

}
body{
	background-color: eee5de;
	text-align: center;
	}